<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="en" />

        <link rel="stylesheet" type="text/css" href="css/core.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="css/principal.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/content.css" />
        <link rel="stylesheet" type="text/css" href="css/form.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />

        <title>Городская транспортная сеть</title>

    </head>

    <body>

        <div class="container" id="page">

            <a href="index.html">
                <div id="header">
                    <div id="logo"><!--Городская транспортная сеть--></div>
                </div></a>

            <div id="mainmenu">

                <ul>

                    <li>
                        <a href="line.html" title="Line"><span style="background-image: url('images/line.png')"></span><!--Маршрут--></a>
                    </li>
                    <li>
                        <a href="station.html" title="Station"><span style="background-image: url(images/station.png)"></span><!--Остановка--></a>
                    </li>
                    <li>
                        <a href="vehicle.html" title="Vehicle"><span style="background-image: url(images/vehicle.png)"></span><!--Транспорт--></a>
                    </li>
                    <li>
                        <a href="driver.html" title="Driver"><span style="background-image: url(images/driver.png)"></span><!--Водитель--></a>
                    </li>
                    <li>
                        <a href="xml.html" title="XML-XSD"><span style="background-image: url(images/xml.png)"></span><!--XML Schema--></a>
                    </li>
                    <li>
                        <a href="user.html" title="User"><span style="background-image: url(images/user.png)"></span><!--User--></a>
                    </li>
                </ul>

               <!-- Login / Logout -->
                <div id='access'>
                    <div>Админ (<a href="#">Выход</a>)</div> 
                </div>
            </div>

            <!-- mainmenu --><!-- breadcrumbs -->


            <div id="content">

                <h1> Добро пожаловать в <i>Городскую транспортную сеть</i></h1>

                <p> Крупнейшая транспортная компания «Городская транспортная сеть», управляет услугами трамвайных и автобусных перевозок. </ p>
                 <p> Маршрутная сеть является частью региональной ассоциации общественного транспорта и была сформирована путем слияния в январе 1947 года. </ p>
                 <p> 13 трамвайных линий обслуживают транспортную зону около 152 километров, дополненную более чем 30 автобусными линиями, которые находятся на маршруте в пригородной зоне. <
                <img width="670" src="src/images/Routes.svg" alt="Avatar">
            </div>
            <!-- content -->
            <div class="clear"></div>

                                         <div id="footer">
                                            <ul>
                                                <li class="sitemap"><a href="#">Карта сайта</a></li>
                                                <li class="copyr"><a href="#">Copyright &copy; 2018 ГТС</a></li>
                                                <li class="allright"><a href="#">Все права сохранены <br>ГТС</a></li>
                                            </ul>
                                        </div><!-- footer -->

        </div><!-- page -->

    </body>
</html>
