<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="en" />

        <link rel="stylesheet" type="text/css" href="src/css/core.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="src/css/principal.css" />
        <link rel="stylesheet" type="text/css" href="src/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="src/css/content.css" />
        <link rel="stylesheet" type="text/css" href="src/css/form.css" />
        <link rel="stylesheet" type="text/css" href="src/css/footer.css" />

   <title>Городская транспортная сеть</title>

    </head>

    <body>

        <div class="container" id="page">

            <a href="index.html">
                <div id="header">
                    <div id="logo"><!--Городская транспортная сеть--></div>
                </div></a>


             <div id="mainmenu">

                <ul>

                    <li>
                        <a href="line.html" title="Line"><span style="background-image: url(src/images/line.png)"></span><!--Маршрут--></a>
                    </li>
                    <li>
                        <a href="station.html" title="Station"><span style="background-image: url(src/images/station.png)"></span><!--Остановка--></a>
                    </li>
                    <li>
                        <a href="vehicle.html" title="Vehicle"><span style="background-image: url(src/images/vehicle.png)"></span><!--Транспорт--></a>
                    </li>
                    <li>
                        <a href="driver.html" title="Driver"><span style="background-image: url(src/images/driver.png)"></span><!--Водитель--></a>
                    </li>
                    <li>
                        <a href="xml.html" title="XML-XSD"><span style="background-image: url(src/images/xml.png)"></span><!--XML Schema--></a>
                    </li>
                    <li>
                        <a href="user.html" title="User"><span style="background-image: url(src/images/user.png)"></span><!--User--></a>
                    </li>
                </ul>

               <!-- Login / Logout -->
                <div id='access'>
                    <div>Админ (<a href="#">Выход</a>)</div> 
                </div>
            </div>
            <!-- mainmenu -->
            <div class="breadcrumbs">
                <a href="#">Главная</a> &raquo; <a href="#">Транспортное средство</a> &raquo; <span>Добавить</span></div><!-- breadcrumbs -->

            <div class="span-19">
                <div id="content">

                    <h1>Добавить транспортное средство</h1>


                    <div class="form">

                        <form id="vehicle-form" action="/pruebas/module_e_1/vehicle/create.php" method="post">
                            <p class="note">Поля <span class="required">*</span> обязательны к заполнению.</p>


                            <div class="row">
                                <label for="Vehicle_name" class="required">Название <span class="required">*</span></label>		<input size="30" maxlength="30" name="Vehicle[name]" id="Vehicle_name" type="text">			</div>

                            <div class="row">
                                <label for="Vehicle_capacity" class="required">Вместимость <span class="required">*</span></label>		<input name="Vehicle[capacity]" id="Vehicle_capacity" type="text">			</div>

                            <div class="row">
                                <label for="Vehicle_type">Тип</label>		
                                <select name="Line[type]" id="Line_type">
                                    <option value="Tram">Трамвай</option>
                                    <option value="Bus">Автобус</option>
                                    <option value="Nightliner">Маршрутное такси</option>                                                
                                            </select>            </div>

                            <div class="row buttons">
                                <input type="submit" name="yt0" value="Сохранить">	</div>

                        </form>
                    </div><!-- form -->	</div>
                <!-- content -->



            </div>
            <div class="span-5 last">
                <div id="sidebar">
                    <div class="portlet" >
                        <div class="portlet-decoration">
                            <div class="portlet-title">Редактирование</div>
                        </div>
                        <div class="portlet-content">
                            <ul class="operations" >
                                <li><a href="#list">Список транспортных средств</a></li>
                                <li><a href="#manage">Управлять списком</a></li>
                            </ul></div>
                    </div>	</div><!-- sidebar -->
            </div>

            <div class="clear"></div>

            <div id="footer">
                                            <ul>
                                                <li class="sitemap"><a href="#">Карта сайта</a></li>
                                                <li class="copyr"><a href="#">Copyright &copy; 2018 ГТС</a></li>
                                                <li class="allright"><a href="#">Все права сохранены <br>ГТС</a></li>
                                            </ul>
                                        </div><!-- footer -->

        </div><!-- page -->

    </body>
</html>
